@media (min-width: 1201px) {
    .sidebar {
        right: -400px !important;
    }
    .dark-overlay {
        display: none !important;
    }
}
@media (max-width: 1200px) {
    .navbar-ul {
        display: none;
    }
    .sidebar-label {
        display: flex !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media (max-width: 1024px) {
    .section-grid {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(4, 1fr) !important;
    }
    .testimonials-main {
        flex-direction: column;
    }
    .footer-info .footer-cell {
        padding: 2rem;
    }
}
@media (max-width: 768px) {
    main p {
        font-size: 0.9rem;
    }
    .popup-wrap {
        max-height: 750px;
    }
    h2:not(.hero-main h2) {
        font-size: 2.5rem;
    }
    .hero-main.index-hero h2, .hero-main.service-hero h1 {
        font-size: 3.5rem;
    }
    .hero-main.index-hero h1, .hero-main.service-hero h2 {
        font-size: 1.3rem;
    }
    section {
        padding: 4rem 2rem;
    }
    .hero-top {
        padding: 3rem;
    }
    .sidebar ul a, .sidebar ul button:not(#openFormBtn2) {
        font-size: 1.2rem;
    }
    .sidebar-services-dropdown > a {
        font-size: 1.1rem !important;
    }
    #sidebarServicesBtn svg {
        width: 28px;
    }
    .footer-info {
        flex-direction: column;
        text-align: center;
    }
    .footer-info .footer-cell:nth-child(3) {
        text-align: center;
    }
    .footer-info .footer-cell:nth-child(2) {
        border: none;
    }
    .contact-hero {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 1200px !important;
    }
    .valeurs-wrap {
        flex-direction: column;
    }
    .stats {
        flex-direction: column;
        gap: 1.5rem;
    }
    header {
        padding: 2rem 2rem;
    }
    .hero-top-wrap.no-video {
        flex-direction: column;
        align-items: flex-start;
    }
    .hero-top-wrap.no-video .hero-top-description {
        max-width: none !important;
    }
    .service-cell {
        flex-direction: column;
        gap: 2rem;
    }
    .service-img img {
        width: 100%;
        height: 400px;
    }
    .service-cell.left-wrap div:nth-child(1) {
        order: 2;
    }
    .service-main h3 {
        position: relative;
        padding: 0 0 1rem 2rem;
        cursor: pointer;
        border-bottom: 1px solid currentColor;
        font-size: 1.4rem;
    }
    .service-main h3::before {
        content: "+";
        position: absolute;
        left: 0;
        top: 0;
        font-weight: bold;
    }
    .service-main h3.active::before {
      content: "-";
    }
    .service-main p {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.4s ease, opacity 0.3s ease, margin-top 0.3s ease;
    }
    .service-main h3.active + p {
      max-height: 500px;
      opacity: 1;
      margin-top: 8px;
    }
    .equipe-wrap {
        flex-direction: column;
        gap: 1.5rem;
    }
    .equipe-main {
        justify-content: flex-start;
        margin-top: 0;
        gap: 2rem;
        flex-direction: column;
    }
    .equipe-img {
        flex: none;
    }
    .equipe-info, .equipe-img {
        max-width: 100%;
    }
    .right-container {
        padding-right: 0px;
    }
    .left-container {
        padding-left: 0px;
    }
    .section-2-main.forfaits {
        flex-direction: column;
    }
    .contact-info h1 {
        font-size: 2rem;
    }
    .contact-ul {
        gap: 0.3rem;
    }
    .cut-wrap {
        gap: 3rem;
    }
    .cut-main {
        flex-direction: column;
    }
    .cut h3 {
        font-size: 1.7rem;
    }
    .cut-cell h4 {
        font-size: 1.5rem;
    }
    .cut-cell p {
        font-size: 0.95rem;
    }
    .timeline {
        margin: 50px auto;
    }
    .timeline::after {
        left: 36px;
        width: 3px;
    }
    .container {
        width: 100%;
        padding: 30px;
        padding-left: 80px;
        padding-right: 0px;
    }
    .container .text-box {
        padding: 0;
    }
    .container-img img {
        max-height: 450px;
    }
    .container-img.top img {
        object-position: top;
    }
    .container-img.right img {
        object-position: right;
    }
    .right-container {
        left: 0;
    }
    .right-container .white-circle, .left-container .white-circle {
        left: 22px;
        width: 25px;
        height: 25px;
    }
    .right-container .date, .left-container .date {
        left: -30px;
        top: 35px;
    }
    .left-container-arrow, .right-container-arrow {
        display: none;
    }
}
@media (max-width: 600px) {
    .separate div {
        padding: 1rem;
        font-size: 0.9rem;
    }
    .separate a {
        padding: 0.8rem;
        width: 150px;
    }
    #openFormBtn span {
        display: none;
    }
    #openFormBtn::after {
        content: "Soumission";
    }
    .svg-logo {
        max-width: 50px;
        min-width: 50px;
    }
    .svg-logo g {
        display: none;
        pointer-events: none;
    }
    .sidebar {
        width: 100%;
        right: -100%;
    }
    .hero-main.index-hero h2, .hero-main.service-hero h1 {
        font-size: 2.2rem;
    }
    .hero-main.index-hero h1, .hero-main.service-hero h2 {
        font-size: 1.1rem;
    }
    .left button, .right button {
        width: 160px;
    }
    .realisation-dropdown {
        grid-template-columns: 1fr !important;
    }
    h2:not(.hero-main h2) {
        font-size: 1.7rem;
    }
    .section-grid img {
        max-height: 250px;
    }
}
@media (max-width: 360px) {
    .footer-services-dropdown {
        width: 142px;
    }
    .separate div {
        padding: 0.6rem;
        font-size: 0.85rem;
        width: 140px;
    }
}




